@{
    ViewBag.Title = "Home Page";
}

<h1 class="h1">Finder - Stället där vi möts och hjälper varandra</h1>
<div>
    <img src="~/Content/Images/jumbotron-images-web.png" class="img-fluid" />
</div>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non pulvinar nulla, vel congue ex. In molestie massa at nisi pretium malesuada. Fusce sed leo nec diam pulvinar mattis quis a nibh. Sed suscipit felis vitae tellus mollis, vitae semper ante cursus. Donec vehicula consequat massa a pretium. Nulla tincidunt, ipsum eget sollicitudin congue, justo nulla porta sem, in fermentum neque metus vitae velit. Donec ut elit pellentesque, ultricies sem sed, molestie ex. Morbi dapibus id ante at dapibus. Donec ornare augue et venenatis posuere. Fusce in tristique mauris. Vivamus at tortor massa. Nullam feugiat augue vel consectetur rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus elementum pellentesque volutpat.

    Ut placerat, lacus ullamcorper dignissim mollis, erat mauris placerat magna, non placerat ligula mauris id mi. Curabitur dapibus, arcu quis pharetra aliquet, ligula nibh fermentum felis, vitae interdum sem mauris sit amet nulla. Fusce sed semper libero. Praesent vitae quam elit. Donec venenatis nunc a tortor lobortis tincidunt. Quisque laoreet, risus id sagittis eleifend, est nulla consectetur sapien, vitae sagittis tellus dolor id neque. Ut posuere in metus quis rhoncus. Suspendisse nec tristique nibh. Sed ac semper libero. Sed quis risus dolor. Morbi pulvinar rhoncus viverra. Vestibulum eu elit in lorem venenatis dapibus.
</p>