.answerbox {
    background-color: white;
    border-color: #d1d9d9;
    width: 84%;
    margin-left: 0%;
    resize: none;
    position: relative;
    max-width: 600px;
    max-height: 500px;
}
#ContractTable {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #ContractTable td, #ContractTable th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #ContractTable tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #ContractTable tr:hover {
        background-color: #ddd;
    }

    #ContractTable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: limegreen;
        color: white;
    }

.header {
    overflow: hidden;
    background-color: white;
    padding: 20px;
    height: 120px;
}
/* Style the header links */
.header-bottom a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}


.button {
    background-color: limegreen;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}

/*Footer*/
.footer {
    background-color: black;
    height: 90px;
    width: auto;
    overflow: auto;
    min-height: 100vh;
}

    .footer .logo1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

/* CSS specifik för service-kort*/
.service-list-wrapper {
    padding-top: 30px;
}

.service-card {
    border-width: 4px;
    border-color: #aaaaaa;
}

.service-card-image {
    display: block;
    max-width: 100%;
    max-height: 300px;
    width: auto;
    height: auto;
    margin: auto;
}

.service-card-image-wrapper {
    width: 100%;
    height: 100%;
    background-color: #aaaaaa;
}

.service-card-title {
    font-size: 1.17em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    /* TO implement */
}

.service-card-description {
    line-height: 20px;
    font-size: 15px;
}

.service-card-description-title {
    font-size: 14px;
    font-style: italic;
    font-weight: 700;
}

.service-card-description-text {
}

.service-categories {
    display: block;
    width: 100%;
}

.service-card-time-description {
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer .logo1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

select {
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.help_btn {
    color: black;
    font-weight: 300;
    font-size: 20px;
}


a {
    color: limegreen;
}

    a:hover {
        color: green;
        text-decoration: none;
        cursor: pointer;
    }

.bold_green {
    color: limegreen;
    font-size: 17px;
    font-weight: 500;
}

.review-card-title { 
    color: limegreen;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}

.stars-div span {
    color: yellow;
}
