

.button {
    background-color: limegreen;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}

/*Footer*/
.footer {
    background-color: black;
    height: 90px;
    width: auto;
    overflow: auto;
}

    .footer .logo1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

/* CSS specifik för service-kort*/
.service-list-wrapper {
    padding-top: 30px;
}

.service-card {
    border-width: 4px;
    border-color: #aaaaaa;
}

.service-card-image {
    display: block;
    max-width: 100%;
    max-height: 300px;
    width: auto;
    height: auto;
    margin: auto;
}

.service-card-image-wrapper {
    width: 100%;
    height: 100%;
    background-color: #aaaaaa;
}

.service-card-title {
    font-size: 1.17em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    /* TO implement */
}

.service-card-description {
    line-height: 20px;
    font-size: 15px;
}

.service-card-description-title {
    font-size: 14px;
    font-style: italic;
    font-weight: 700;
}

.service-card-description-text {
}

.service-categories {
    display: block;
    width: 100%;
}

.service-card-time-description {
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer .logo1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

select {
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.help_btn {
    color: black;
    font-weight: 300;
    font-size: 20px;
}


a {
    color: limegreen;
}

    a:hover {
        color: green;
        text-decoration: none;
        cursor: pointer;
    }

.bold_green {
    color: limegreen;
    font-size: 17px;
    font-weight: 500;
}

.review-card-title { 
    color: limegreen;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}

.stars-div span {
    color: yellow;
}
